@import 'placeholders.scss';

.background-video
{
  object-fit: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  bottom: 0px;
  z-index: -9999; // To go behind everything
  pointer-events: none;
}
// This is for the date seperator
%separator-date
{
  background: transparent!important;
}
